beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
curl_cffi
Flask
frozendict
idna
itsdangerous
Jinja2
MarkupSafe
multitasking
numpy
pandas
peewee
platformdirs
protobuf
pycparser
python-dateutil
pytz
requests
six
soupsieve
typing_extensions
urllib3
websockets
Werkzeug
yfinance
